<h1>howdy</h1>
   
<form>
<lable for="giraffe"> Enter a number </lable>
<input id="giraffe" type="text" placeholder="what  number do you want to square?" name="elephant"> 
<button>calculate square</button>

</form>
