<h1>helo444</h1>
<form action="/square_root/results">

<label for="outcome">Enter a number </label>
<input id="outcome" type="text" placeholder="what number do you want to take the square root of?" name="sqroot" > 

<div>
<button>Calculate square root</button>
</div>
